<div class="main tasks-index">
  <div class="container">
    <h1 class="tasks-heading">タスク一覧</h1>
    <% @tasks.each do |task| %>
     <div class="tasks-index-item">
       <div class="task-left">
         <img src="<%= "/user_images/#{task.user.image_name}" %>">
       </div>
       <div class="task-right">
         <div class="task-user-name">
           <%= link_to(task.user.name, "/user/#{task.user.id}") %>
         </div>
         <%= link_to(task.content, "/task/#{task.id}") %>
       </div>
     </div>
    <% end %>
  </div>
</div>
