<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">新規タスク作成</h1>
    <%= form_tag("/task/create") do %>
      <div class="form">
        <div class="form-body">
          <% @task.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <input name="content">
          <input type="submit" value="決定">
        </div>
      </div>
    <% end %>
  </div>
</div>
