<div class="main top-main">
  <div class="top-message">
    <h2>誰かと共有することで作業が捗る</h2>
    <h3>まずはタスクを決めてみよう！</h3>
    <div class="top-btn">
      <%= link_to("/login") do %>
        <input type="submit" value="ログイン"></input>
      <% end %>
      <%= link_to("/signup") do %>
        <input type="submit" value="新規登録"></input>
      <% end %>
    </div>
  </div>
</div>
