// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* task/index ================================ */
.tasks-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.tasks-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.task-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.task-user-name a {
  font-weight: 600;
}

.task-user-name a:hover {
  color: #3ecdc6;
}

.task-left {
  float: left;
  width: 10%;
}

.task-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

/* task/show ================================ */
.tasks-show form {
  display: inline;
}

.tasks-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.tasks-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.tasks-show-item .task-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.tasks-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.task-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.task-menus {
  float: right;
}

.task-menus a, .task-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

/* task/new ================================ */
.tasks-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.tasks-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}
